{% extends 'base.html' %}
{% load static %}


{% block title %}
    Hospital Database
{% endblock title %}

{% block content %}
<div id="MainDiv">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-secondary">
        <h1 id="hospital-header" class="h2">Hospital Database</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button id="createhospitalbutton" type="button" class="btn btn-sm btn-outline-secondary"
                        onclick="window.location.href='{% url 'hospital_create' %}'">
                    Create hospital
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive small">
        <table id="myTable" class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col" data-orderable="true">#</th>
                <th scope="col" data-orderable="true">Name</th>
                <th scope="col" data-orderable="false"></th>
            </tr>
            </thead>
            <tbody id="table-body">
            {% for hospital in hospital_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ hospital.name }}</td>
                    <td><a href="{% url 'hospital_edit' hospital.id %}">Edit</a> / <a href="{% url 'hospital_delete' hospital.id %}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
{% endblock content %}