{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="MainDiv">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-secondary">
            <h1 id="patient-header" class="h2">Patient Database</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <button id="createpatientbutton" type="button" class="btn btn-sm btn-outline-secondary"
                            onclick="window.location.href='{% url 'patient_create' %}'">
                        Create Patient
                    </button>
                </div>
            </div>
        </div>

        <div class="table-responsive small">
            <table id="myTable" class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col" data-orderable="true">#</th>
                    <th scope="col" data-orderable="true">ID Number</th>
                    <th scope="col" data-orderable="true">Name</th>
                    <th scope="col" data-orderable="true">Date of Birth</th>
                    <th scope="col" data-orderable="true">Diagnosis</th>
                    <th scope="col" data-orderable="false"></th>
                </tr>
                </thead>
                <tbody id="table-body">
                {% for patient_data in patient_last_treatments %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ patient_data.patient.id_number }}</td>
                        <td>{{ patient_data.patient.name }}</td>
                        <td>{{ patient_data.patient.date_of_birth }}</td>
                        {% if patient_data.last_treatment.diagnosis %}
                            <td>{{ patient_data.last_treatment.diagnosis }}</td>
                        {% else %}
                            <td>No Data</td>
                        {% endif %}
                        <td><a href="{% url 'patient_edit' patient_data.patient.id %}">Edit</a> / <a
                                href="{% url 'patient_delete' patient_data.patient.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
{% endblock content %}